<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="avishayhajbi.gpsplugin"
    version="1.0.2">
    <name>gps</name>
    <description>Sample PhoneGap gps Plugin</description>
    <license>avishayhajbi</license>
    <keywords>phonegap,gps</keywords>

   <name>gps</name>

   <description>
     This plugin allows to use native gps.
   </description>

  <engines>
    <engine name="cordova" version=">=1.7.0" />
    <engine name="cordova" version="<1.8.1" />
</engines>

<asset src="www/gps.js" target="js/gps.js" /> 
   <js-module src="www/gps.js" name="gps">
      <clobbers target="js/gps" />
   </js-module>

   <!-- android -->
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="GpsPlugin">
            <param name="android-package" value="avishayhajbi.gpsplugin.GpsPlugin" />
         </feature>
      </config-file>
	  <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_GPS" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      </config-file>
      <source-file src="src/GpsPlugin.java" target-dir="src/avishayhajbi/gpsplugin" />
   </platform>
</plugin>
